*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url("https://i.pinimg.com/originals/a1/02/3b/a1023b399348eb0f4a2d8c7b5b9a948d.png"), center center;
    backdrop-filter: blur(5px);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Josefin Sans', sans-serif;
    animation: background-animation 10s infinite;
    animation-iteration-count: infinite;
}

iframe {
    width: 80vw;
    height: 45vw;
    border-width: 3pt;
    border-color: darkgoldenrod;
    border-style: ridge;
}

#loading {
    width: 100%;
    height: 100%;
    /* width: 100vw;
    height: 100vh; */
    position: fixed;
    background: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


#success-message {
    position: fixed;
    color: grey;
    font-weight: bold;
    font-size: 45px;
    animation: success 2s infinite;
    /* margin-bottom: 2vh; */
}


#middle {
    width: 100%;
    height: 95vh;
    display: grid;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    /* padding-bottom: 5vh; */
}

#middle h1 {
    color: rgb(255, 50, 50);
    font-size: 50px;
    text-shadow: 4px 4px 5px black;
    text-decoration: underline dotted;
}

@keyframes background-animation {
    0% {
        backdrop-filter: blur(20px);
    }
    50% {
        backdrop-filter: blur(0px) sepia(80%);
    }
    100% {
        backdrop-filter: blur(20px);
    }
}

@keyframes success {
    0% {
        opacity: 25%;
        margin-top: 15vh;
        color: violet;
        text-shadow: 2pt 2pt 2pt darkolivegreen;
        font-size: 45px;
    }
    70% {
        opacity: 85%;
        margin-top: 0;
        color: yellow;
        text-shadow: 2pt 2pt 2pt red;
        font-size: 60px;
    }
    100% {
        opacity: 50%;
        margin-top: -15vh;
        color: brown;
        text-shadow: 2pt 2pt 2pt cyan;
        font-size: 45px;
    }
}

#middle table {
    width: 60%;
    margin: 6vh auto;
}

#middle table tr td {
    text-align: center;
    margin: 4vh auto;
}

.btn_one {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    padding: 8px 40px;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 10px;
    transition: 0.4s ease-in-out;
}

.btn_one:hover {
    cursor: pointer;
    color: rgb(255, 50, 50);
    background: #fff;
}