@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Josefin Sans', sans-serif;
}

.background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url("https://i.imgur.com/2TX6U1a.jpeg"), center center;
    background-size: cover;
    filter: blur(5px);
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#loading-title-message {
    position: top;
    color: white;
    font-weight: bold;
    font-size: 35px;
    animation: breathe 2s linear infinite;
    margin-bottom: 2vh;
}
#loading-path-message {
    animation-delay:0.8s;
    position: top;
    color: rgb(233, 113, 0);
    font-weight: bold;
    font-size: 20px;
    animation: breathe 2s linear infinite;
    margin-bottom: 2vh;
}
#loading-status-message {
    animation-delay:0.8s;
    position: top;
    color: rgb(165, 165, 165);
    font-style: italic;
    font-size: 14px;
    animation: breathe 2s linear infinite;
}
@keyframes breathe {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 85%;
    }
    100% {
        opacity: 0%;
    }
}


#spinner {
    animation: rotate 0.56s infinite linear;
    width: 60px;
    height: 60px;
    border: 6px solid #fff;
    border-bottom: 6px solid #000;
    border-radius: 50%;
    margin: 0;
    margin-bottom: 2vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#box {
    width: 100vw;
    height: 100vh;
    z-index: 9;
    position: fixed;
    top: 0;
}

#box div {
    width: 16.66vw;
    height: 100%;
    display: inline-block;
}

.box1 {
    background: rgb(255, 50, 50);
}

.box2 {
    background: rgb(255, 50, 50);
    margin-left: -5px;
}

button {
    background-color: transparent;
    color: inherit;
    border: none;
    font-family: inherit;
}

button:hover {
    cursor: pointer;
}

#menu {
    width: 100%;
    text-align: center;
    margin-top: 4vh;
    display: none;
}

#menu button {
    margin: 0px 6%;
    padding: 0px;
    font-size: 19px;
    text-decoration: underline;
}

#middle {
    position: absolute;
    width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
}

#middle h1 {
    color: rgb(255, 50, 50);
    font-size: min(12vw, 45px);
    margin: 20px;
    text-shadow: 4px 4px 5px black;
    text-decoration: underline dotted;
}

#middle h2 {
    margin: 10px;
}

#middle p {
    margin: 5px;
}

.floor-button {
    position: fixed;
    --radius: max(5vw, 40px);
    --width: calc(var(--radius) * 2);
    --height: calc(var(--radius) + 12px);
    width: var(--width);
    height: var(--height);
    border-radius: 0px 0px var(--radius) var(--radius);
    text-align: center;
    font-size: 25px;
    color: #fff;
    z-index: 4;
    transition: 0.4s ease-in-out;
}

.floor-button:hover {
    background: rgba(230, 144, 45, 0.938);
    cursor: pointer;
}

#about {
    transform: rotate(-90deg) translateY(calc((var(--height) - var(--width)) / 2));
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
}

#work {
    transform: rotate(90deg) translateY(calc((var(--height) - var(--width)) / 2));
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
}

#contact {
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

#middle table {
    width: 60%;
    margin: auto;
    padding: 4vh 0px;
}

#middle table tr td {
    text-align: center;
}

.social {
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    margin: 0px 8px;
    text-align: center;
}

.social:hover {
    cursor: pointer;
    color: rgb(255, 50, 50);
}

.container {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
    padding-bottom: 5vh;
    background: rgba(230, 144, 45, 0.975);
    color: #fff;
    z-index: 9;
    display: none;
}

.container section {
    margin: 8vh 0px;
}

.container .container__content {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 10vh;
}

.container .back_arrow {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    transition: 0.4s ease-in-out;
}

#used div {
    font-size: 14px !important;
    display: inline-block;
    padding: 8px 10px;
    border: 2px solid #fff;
    margin: 0px 10px;
    border-radius: 50px;
}

#used:hover {
    cursor: text;
}

#used div:hover {
    cursor: text;
}

.container h1 {
    font-size: 60px;
    text-shadow: 4px 4px 5px black;
    /* text-decoration:underline; */
}

.container h2 {
    color: black;
}

.container p {
    font-size: 21px;
}

.btn_one {
    font-size: 18px;
    color: #fff;
    border: 3px solid #fff;
    padding: 8px 40px;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 10px;
    transition: 0.4s ease-in-out;
}

.btn_one:hover {
    color: rgb(255, 50, 50);
    background: #fff;
}

.btn_two {
    font-size: 18px;
    color: rgb(255, 50, 50);
    background: #fff;
    border: 3px solid #fff;
    padding: 8px 40px;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 10px;
    transition: 0.4s ease-in-out;
}

.btn_two:hover {
    padding: 8px 60px;
}

.container form input {
    width: 46%;
    margin: 20px 1%;
    background: transparent;
    border: 0px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    color: #fff;
    font-weight: bold;
}

.container form textarea {
    width: 96%;
    margin: 20px 1%;
    padding: 8px 10px;
    border: 0px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background: transparent;
    resize: none;
    transition: 0.4s ease-in-out;
    color: #fff;
    font-weight: bold;
}

.container form input:focus {
    outline: none;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.container form textarea:focus {
    outline: none;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

::placeholder {
    color: #fff;
}

/* start of styles for bottom of page */

#container_of_timer_footer {
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    margin-top: auto;
    display: flex;
    padding-bottom: 4vh;
}

#footer {
    color: rgb(255, 50, 50);
    text-shadow: 1px 1px 1px rgb(44, 0, 205);
    font-size: 15px;
    font-weight: bold;
    width: 50%;
    /* the following is used to test border of footer*/
    /* border-color: black;
    border-style: groove; */
}

#timer {
    color: aqua;
    text-shadow: 2px 2px 3px rgb(255, 0, 0);
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    width: 50%;
    /* margin-right: 5px; */
    /* the following is used to test border of footer*/
    /* border-color: black;
    border-style: groove; */
}

.blink {
    animation: 1s infinite normal blink-animation;
    animation-timing-function: steps(3, start);
    -webkit-animation: 1s infinite normal blink-animation;
    -webkit-animation-timing-function: steps(3, start);
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* end of styles for bottom of page */

#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 50, 50);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 50, 50, 0.8);
}

::selection {
    color: #fff;
    background: rgb(255, 50, 50);
}

@media (max-width: 400px) {
    #about {
        display: none;
    }

    #contact {
        display: none;
    }

    #work {
        display: none;
    }

    #footer {
        text-align: center;
    }

    #middle {
        width: 90vw;
        padding: 0px 5vw;
    }

    #middle table {
        width: 80%;
    }

    .container form input {
        width: 90%;
    }

    .container form textarea {
        width: 90%;
    }

    #menu {
        display: inline-block;
    }

    #onlywide {
        display: none !important;
    }

    .box2 {
        margin-left: 0px !important;
    }

    #box div {
        width: 100%;
    }
}

/* The Modal (background) */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    padding: 0;
    border: none;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    overflow: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

/* Image container */
.image-container {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: auto;
    overflow-y: auto;
}

.image-container-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
}

.image-container-content {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
}

.image-container-content img {
    width: 100%;
}

/* The Close Button */
.close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: rgba(127, 255, 212, 0.856);
    font-size: 36px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
    padding: 0px 2px;
}

/* The left-right navigation buttons */

/* Pseudo element for vertical alignment  */
.modal-nav-button-prev:before,
.modal-nav-button-next:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal-nav-button-prev,
.modal-nav-button-next {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    z-index: 2;
    color: rgba(127, 255, 212, 0.856);
    transition: 0.3s;
    padding: 0px 20px;
    font-size: 30px;
}

.modal-nav-button-prev {
    left: 0;
}

.modal-nav-button-next {
    right: 0;
}

.modal-nav-button-prev-icon,
.modal-nav-button-next-icon {
    padding: 8px 4px;
}

.modal-nav-button-prev-icon.swiper-button-disabled,
.modal-nav-button-next-icon.swiper-button-disabled {
    display: none;
}

.close:hover,
.modal-nav-button-prev-icon:hover,
.modal-nav-button-next-icon:hover {
    color: rgba(64, 127, 106, 0.856);
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {

    .image-container-wrapper,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: fixed;
        top: 15px;
        right: 35px;
        color: rgba(127, 255, 212, 0.856);
        font-size: 30px;
        font-weight: bold;
        transition: 0.3s;
        z-index: 2;
    }

    .close:hover {
        color: rgba(64, 127, 106, 0.856);
        text-decoration: none;
    }

    /* The left-right navigation buttons */
    .modal-nav-button-prev,
    .modal-nav-button-next {
        padding: 0px 16px;
        font-size: 20px;
    }
}


/* segment managing popupimage ends here */





h3 {
    color: darkslategray;
    text-shadow: 2px 2px 2px lightgoldenrodyellow;
}